header {
    align-items: center;
    color: antiquewhite;
}

.titulo {
    color: #3C7A2F;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 30px 0px
}


a {
    padding-left: 15px;
}

.h1 {
    text-align: center;
    text-decoration: none;
    color: antiquewhite;
    
}

.h1:hover {
    color: #87ca3a;
    transition:  0.3s ease ;
}

.material-icons {
    color: antiquewhite;
    text-decoration: none;
}

.material-icons:hover {
    color: #87ca3a;
    transition:  0.3s ease ;
}

.Boton-Inicio {
    font-size: 1.3rem;
    text-decoration: none;
    background-color: antiquewhite;
    padding: 5px 20px;
    border-radius: 20px;
}

.Boton-Inicio:hover{
    background-color: #87ca3a;
    color: antiquewhite;
    transition:  0.3s ease ;
}

.card {
    width: 20rem;
    margin: 20px 16px;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    float: left;
    position: relative;
}

.imagen{
   height: 20rem;
   margin-left: 60px;
}
    
